/**
 *
 * Footer Livewell
 *
 */

#footer-livewell {

	width: 100vw;
	background-color: $cg-primary;
	color: white;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: .8rem;

	a {
		color: $cg-button;
	}
}





























